.Navbar-main{
    color: white !important;
}
.u-list{
    display: flex;
    flex-direction: row;
}
.link{
    list-style: none;
    margin-left: 3.1rem;
}
.links{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}
.links:hover{
    color: black;
    transition: all 0.5s;
}
.NavbBar-Right{
    display: flex;
    justify-content: space-around;
}